MAILER_PASS=password to your email
MAILER_USER=sender@provider.com
# Hotmail is a good choice here, because it allow simple username and password auth
MAILER_SERVICE=email_provider
ADMIN_EMAIL=admin@provider.com
SUBSCRIBERS=subscuriber@provider.com
# Snowball user you are interested. This can be found from the url, for example
# https://xueqiu.com/u/1334706236
SNOWBALL_USER_ID=6784593966